*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
}
/* inizio header*/
.container-header{
    background-color: rgb(255, 157, 0);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
}
.row-header{
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 0 auto;
}
.column-header{
    width: calc(100% / 3);
    display: flex;
    padding: 10px;
}
.content-header-2{
    margin: 0 auto;
}
.content-header-3{
    margin-left: 77%;
}
.logo-centrale{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.titolo-centrale{
    font-size: 20px;
    margin: 0 auto;
}
.titolo-left{
    font-size: 15px;
    padding: 0px 10px 0px 10px;
}
.icone-header{
    padding: 0px 5px 0px 5px;
}
/* fine header*/
/* inizio main*/
main{
    width: 75%;
    margin: 0 auto;
}
.container-main{

}
.row-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img-main{
    width: 345px;
}
.column-main{
    width: calc(100% /3 -20px);
    margin: 20px;
    margin: 0 auto;
}
.content-main{
    position: relative;
}
.red{
    padding: 10px;
    background-color: red;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 430px;
    right: 302px;
}
.green{
    padding: 10px;
    background-color: green;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 430px;
    right: 230px;
}
.cuore{
    position: absolute;
    top: 20px;
    right: 0;
}
.container-cuore{
    padding: 10px;
    background-color:white;
}
/* fine main*/
/* inizio footer*/
footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 50px;
    color: white;
}
.footer-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
}
.row-footer{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.column-footer-1{
    width: 50%;
}
.column-footer-2{
    width: 50%;
}
.content-footer-1{
  text-align: left;
}
.content-footer-2{
    margin-left: 82%;
  }
.sottotitolo-footer-left{
    font-size: 10px;
    padding: 0px 5px 0px 10px;
    margin-left: 5px;
}
.titolo-right-footer{
    font-size: 8px;
    margin-right: 40px;
}
.titolo-left-footer{
    margin-left: 15px;
}
/*fine footer*/